@charset "UFT-08";


body {
    background-color: rgb(30, 248, 30);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    height: 700px; 
   width: 100%;
}
h1 {
    color:  white;
    margin:25px ;
}
h2 {
   color: black;
}
h3 {
   padding:5px;
   color: black;
}
.nome{
   color: rgb(58, 58, 72);
   font-family: Arial, Helvetica, sans-serif;
}
.inicio{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
a{
   color: rgb(58, 58, 72);
   font-family: Arial, Helvetica, sans-serif;
}
img {
   height: 350px; 
   width: 50%;
}
div {
   height: 700px; 
   width: 100%;
}
.inicial{
   height: 700px; 
   width: 100%;
}

